<%= link_to '목록으로 가기', books_path %>
<h2><%= @book.title %></h2>
<table class="table table-condensed">
  <tr>
    <th>챕터</th>
    <th>질문</th>
    <th>답변</th>
    <th>액션</th>
  </tr>
  <% @book.chapters.each_with_index do |chapter, chapter_i| %>
    <% chapter.cards.each_with_index do |c, i| %>
      <tr <%="class=danger" if @memories.include? c.id%>>
        <% if i == 0 %>
          <td rowspan=<%=chapter.cards.length%>>
            <%=chapter.title%><br>
            <select class="add_chapter" data-id="<%=chapter.id%>">
              <option value="" disabled selected>Add all cards</option>
              <%= current_user.boxes.each do |box| %>
                <option value="<%=box.id%>"><%=box.title%></option>
              <% end %>
              <option value="new">새 박스 만들기</option>
            </select>
          </td>
        <% end %>
        <td><%=c.question.html_safe%></td>
        <td><%=c.answer.html_safe%></td>
        <td>
          <select class="add_card" data-id="<%=c.id%>">
            <option value="" disabled selected>Add this card</option>
            <%= current_user.boxes.each do |box| %>
              <option value="<%=box.id%>"><%=box.title%></option>
            <% end %>
            <option value="new">새 박스 만들기</option>
          </select>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to '목록으로 가기', books_path %>
<script>
$(document).ready(function() {
  $('.add_chapter').on('change', function() {
    if ($(this).val() == "new")
    {
      var box_title = prompt('What`s title of the new box?');
      window.location.href = '/box/add_chapter/' + $(this).data('id') + '?box_title=' + box_title;
    } else {
      window.location.href = '/box/add_chapter/' + $(this).data('id') + '?box_id=' + $(this).val();
    }
  });
  $('.add_card').on('change', function() {
    window.location.href = '/box/add_card/' + $(this).data('id') + '?box_id=' + $(this).val();
  });
});
</script>
