<h1>New Chapter</h1>
<h3>Import file</h3>
<%= simple_form_for @chapter, url: upload_chapters_path, multipart: true do |f| %>
  <%= f.input :book_id, as: 'hidden' %>
  <%= f.input :file, as: 'file' %>
  <%= f.button :submit, :upload %>
<% end %>
<h3>or create by typing</h3>
<%= render 'form' %>
