<div class="row">
  <div class="alert alert-success">
    <div class="row">
      <div class="col-sm-12 col-lg-6 text-center">
        <h3>에빙하우스의 망각곡선</h3>
        <%= image_tag 'intervals.png', class: 'img-thumbnail' %>
        <p>하루가 지나면 암기한 것의 80%를 망각합니다<p>
        <p>망각하는 것들만 제때 복습하면 많은 것을 외울 수 있습니다</p>
      </div>
      <div class="col-sm-12 col-lg-6 text-center">
        <h3>라이트너 시스템</h3>
        <%= image_tag 'leitnerbox.png', class: 'img-thumbnail' %>
        <p>본 서비스는 위 그림과 같은 '라이트너 시스템' 방식으로 여러분들의 암기를 도와줍니다</p>
      </div>
    </div>
    <h1 class="text-center">모르는 것만 공부하는 초스피드 암기 비법!</h1>
  </div>
</div>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-lg-12">
      <h2>My Memorization Boxes</h2>
      <table class="table">
        <tr>
          <th>#</th>
          <th>Title of your box</th>
        </tr>
        <% @boxes.each_with_index do |b, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><a href="/study/<%=b.id%>"><%=b.title%></a></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td>
            <%=form_tag "/box/create", class: "form-inline" do %>
              <div class="form-group">
                <label>Create a new box</label>
                <input type="text" class="form-control" name="title" placeholder="Input the title">
                <input type="submit" class="btn btn-danger form-control" value="Create">
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% else %>
    <div class="col-lg-12 text-center">
      <h1>새로운 암기 박스를 만드려면</h1>
      <a href="/users/sign_in"><button class="btn btn-lg btn-primary">지금 바로 가입하세요</button></a>
    </div>
  <% end %>
  <div class="col-lg-12">
    <h2>
      New Books
      <small><%= link_to 'View all of books', books_path %></small>
    </h2>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Title of the book</th>
        <th>Count of chapters in the book</th>
        <th>Count of cards in the book</th>
      </tr>
      <% @books.each do |b| %>
        <tr>
          <td><%= b.id %></td>
          <td><%=link_to b.title, book_path(b)%></td>
          <td><%= b.chapters.length %></td>
          <td><%= b.cards.length %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-lg-12">
    <h1>라이트너 학습법 소개</h1>
    <%= render 'intro' %>
  </div>
</div>
