<div class="row">
  <div class="col-lg-12">
    <h2>My Memorization Boxes</h2>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Title of your box</th>
      </tr>
      <% @boxes.each_with_index do |b, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><a href="/study/<%=b.id%>"><%=b.title%></a></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td>
          <%=form_tag "/box/create", class: "form-inline" do %>
            <div class="form-group">
              <input type="text" class="form-control" name="title" placeholder="Input the title of a box">
              <input type="submit" class="form-control" value="Create">
            </div>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-12">
    <h2>
      New Books
      <small><%= link_to 'View all of books', books_path %></small>
    </h2>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Title of the book</th>
        <th>Count of chapters in the book</th>
        <th>Count of cards in the book</th>
      </tr>
      <% @books.each do |b| %>
        <tr>
          <td><%= b.id %></td>
          <td><%=link_to b.title, book_path(b)%></td>
          <td><%= b.chapters.length %></td>
          <td><%= b.cards.length %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
