<ol>
  <% 1.upto(5) do |i| %>
  <li>
    <a href="/study/<%=params[:box_id]%>?stage=<%=i%>"><%=@cards.where(stage: i).count%></a>
    <% if @stage == i %>
      &lt;&lt;
    <% end %>
  </li>
  <% end %>
</ol>
<h1 id="question">
  <%=@card.question%>
</h1>
<div id="answer" style="display:none">
  <h2 id="answer_text">
    <span id="text_to_play"><%=@card.answer%></span> <span id="play_btn"><i class="fa fa-play"></i></span>
  </h2>
  <h1><a href="/study/unknow/<%=@card.id%>">모른다</a></h1>
  <h1><a href="/study/know/<%=@card.id%>">안다</a></h1>
</div>
<script>
$(document).ready(function() {
  $("#question").on("click", function() {
    $("#answer").show();
    var su = new SpeechSynthesisUtterance();
    su.lang = "en";
    su.text = "<%=@card.answer.html_safe%>";
    su.rate = 0.8;
    speechSynthesis.speak(su);
    });
  $("#answer_text").on("click", function() {
    var su = new SpeechSynthesisUtterance();
    su.lang = "en";
    su.text = "<%=@card.answer.html_safe%>";
    su.rate = 0.6;
    speechSynthesis.speak(su);
  });
});
</script>
