<div class="row">
  <div class="progress">
    <% 1.upto(5) do |i| %>
      <a href="/study/<%=params[:box_id]%>?stage=<%=i%>">
        <div class="progress-bar progress-bar-<%=@stages_color[i]%>" role="progressbar" style="width:<%=10+(@percents[i] || 0)%>%">
          <%= @counts[i] || 0%>
          <% if @stage == i %>
            <i class="fa fa-flag"></i>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <a href="/study/unknow/<%=@card.id%>"><button class="btn btn-lg btn-danger">모른다</button></a>
    <a href="/study/know/<%=@card.id%>"><button class="btn btn-lg btn-success">안다</button></a>
    <button id="play_btn" class="btn btn-sm btn-warning"><i class="fa fa-volume-up"></i></button>
  </div>
</div>
<div class="row">
  <div class="flip">
    <div class="card">
      <div class="face front">
        <div class="alert alert-warning inner">
          <h1>
            <%=@card.question.html_safe%>
          </h1>
        </div>
      </div>
      <div class="face back">
        <div class="alert alert-success inner">
          <h1 id="answer_text">
            <div id="text_to_play"><%=@card.answer.html_safe%></div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @card.a_lang == "zh" %>
<script language="javascript" charset="gb2312" src="/zmj.php.js"></script>
<% end %>
<script>
var question_text = "<%=Nokogiri::HTML(@card.question).text%>";
var answer_text = "<%=Nokogiri::HTML(@card.answer).text%>";
function play_speaking(speed) {
  var card = $('.flip .card');
  if (card.hasClass('flipped')) {
    play_answer(speed);
  } else {
    play_question(speed);
  }
}
function play_question(speed) {
  speechSynthesis.cancel();
  var su = new SpeechSynthesisUtterance();
  su.lang = "<%=@card.q_lang%>";
  su.text = question_text;
  su.rate = speed;
  speechSynthesis.speak(su);
}
function play_answer(speed) {
  speechSynthesis.cancel();
  var su = new SpeechSynthesisUtterance();
  su.lang = "<%=@card.a_lang%>";
  su.text = answer_text;
  su.rate = speed;
  speechSynthesis.speak(su);
}
$(document).ready(function() {
  play_question(1);
  $('.flip').on("click", function(){
    var card = $(this).find('.card');
    card.toggleClass('flipped');
    play_speaking(0.8);
  });

  $("#play_btn").on("click", function() {
    play_speaking(0.8);
  });
});
<% if @card.a_lang == "zh" %>
  function chinese_trans(cc){
    var str='',str2;
    var s;
    for(var i=0;i<cc.length;i++){
      if(pydic.indexOf(cc.charAt(i))!=-1&&cc.charCodeAt(i)>200){
        s=1;
        while(pydic.charAt(pydic.indexOf(cc.charAt(i))+s)!=","){
          str+=pydic.charAt(pydic.indexOf(cc.charAt(i))+s);
          s++;
        }
        str+=" ";
      }
      else{
        str+=cc.charAt(i);
      }
    }
    return str;
  }
  $(document).ready(function() {
    $("#answer_text").append(chinese_trans(answer_text));
  });
<% end %>
</script>
