<ol>
  <% 1.upto(5) do |i| %>
  <li>
    <a href="/study/<%=params[:box_id]%>?stage=<%=i%>"><%=@cards.where(stage: i).count%></a>
    <% if @stage == i %>
      &lt;&lt;
    <% end %>
  </li>
  <% end %>
</ol>
<h1 id="question">
  <%=@card.question%>
</h1>
<div id="answer" style="display:none">
  <h2>
    <%=@card.answer%>
  </h2>
  <h1><a href="/study/unknow/<%=@card.id%>">모른다</a></h1>
  <h1><a href="/study/know/<%=@card.id%>">안다</a></h1>
</div>
<script>
$(document).ready(function() {
    $("#question").on("click", function() {
      $("#answer").show();
    });
});
</script>
